<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            https://www.springframework.org/schema/beans/spring-context.xsd">

    <bean id="chatServer" class="ru.geekbrains.chat.server.Server">
        <constructor-arg ref="dbHandler"/>
    </bean>

    <bean id="dbHandler" class="ru.geekbrains.chat.server.DatabaseHandler">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="username" value="chat-server"/>
        <property name="password" value="XgVbEF4vTzP!R"/>
        <property name="url" value="jdbc:mysql://localhost/chat_users?&amp;serverTimezone=Europe/Moscow"/>
    </bean>


</beans>